<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <!-- User List Section -->
    <div class="bg-white shadow rounded-lg p-4">
      <h2 class="text-xl font-semibold mb-4">User List</h2>
      <button
        class="mt-4 bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg transition duration-200 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
        (click)="showModal()"
      >
        Add Workout
      </button>
      <app-workout-list [workouts]="workouts" (userSelected)="onUserSelected($event)"></app-workout-list>
    </div>

    <!-- Workout Chart Section -->
    <div class="bg-white shadow rounded-lg p-4 lg:col-span-2">
      <h2 class="text-xl font-semibold mb-4">
        {{ selectedUser ? selectedUser + "'s" : "Workout" }} Workout Summary
      </h2>
      <app-workout-chart
        [workouts]="workouts"
        [workoutSummary]="workoutSummary"
        [selectedUser]="selectedUser"
      ></app-workout-chart>
    </div>
  </div>

  <!-- Modal for Adding Workout -->
  <div
    class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    *ngIf="isModalOpen"
  >
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div class="mt-3 text-center">
        <h3 class="text-xl leading-6 font-medium text-gray-900">Add Workout</h3>
        <div class="mt-2 px-7 py-3">
          <app-workout-form (workoutAdded)="addWorkout($event)"></app-workout-form>
        </div>
        <div class="items-center px-4 py-3">
          <button
            class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-700 focus:outline-none"
            (click)="hideModal()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
